.calendar-step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.calendar-header h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}


.button-container {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
  padding-right: 35px;
}

.nxt-button {
  margin-left: 16px;
}

.checkbox-label {
  margin-right: 15px;
}

.calendar-grid {
  overflow-x: auto;
}

.calendar-table {
  border-collapse: collapse;
  width: 100%;
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #ccc;
  text-align: center;
  min-width: 32px;
  height: 32px;
}

.calendar-cell {
  height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  cursor: pointer;
}

::ng-deep .highlight-date .mat-calendar-body-cell-content {
  background-color: #90caf9; /* Light blue */
  color: white;
  border-radius: 50%;
  font-weight: bold;
}

/* DataView */
.mat-elevation-z8 {
  background-color: transparent !important;
  box-shadow: none !important;
}

.center-header  {
   text-align: center;
}

.mini-ref {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
}
