<ion-card class="swiper-card">
  <ion-card-content>
    <div class="swiper-container">
      <swiper-container
        autoplay-delay="3000"
        autoplay-disable-on-interaction="false"
        loop="true"
        navigation="true"
        pagination="true"
        #swiper
      >

        <swiper-slide class="slide-1"></swiper-slide>
        <swiper-slide class="slide-2"></swiper-slide>
        <swiper-slide class="slide-3">Slide 3</swiper-slide>
        <swiper-slide class="slide-4">Slide 4</swiper-slide>
      </swiper-container>
    </div>
  </ion-card-content>
</ion-card>
