<ion-card class="swiper-card">
  <ion-card-content>
    <div class="swiper-container">
      <swiper-container
        autoplay-delay="3000"
        autoplay-disable-on-interaction="false"
        loop="true"
        navigation="true"
        pagination="true"
        #swiper
      >

        <swiper-slide class="slide-1"></swiper-slide>
        <swiper-slide class="slide-2"></swiper-slide>
        <swiper-slide class="slide-3"></swiper-slide>
        <swiper-slide class="slide-4"></swiper-slide>
      </swiper-container>
    </div>
  </ion-card-content>
</ion-card>

<mat-card class="container">
  <h2 class="title">acSys IT Solutions</h2>
  <mat-tab-group>
    <mat-tab label="Company">
      <div class="content">
        <p>
          <strong>Acsys - IT Solutions</strong> is a leading Dubai-based software
          development firm offering comprehensive software solutions for all types of industries.
          We have a different scale of customer base, from small-size Business Companies to
          Corporate Organizations.
        </p>
        <p>
          A clear perception of the growing requirement of IT in every business has created
          a demand for customized software solutions. As per the business nature of every
          organization, Acsys – IT provides more advanced, integrated, and custom-based
          solutions tailored to individual organizational needs.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Services">
      <div class="content">
        <p>Our work force is the prime asset in contributing the best of Professional Service to maintain the standards to our valued customers.
          Our agile, end-to-end Application Lifecycle Management (ALM) model covers everything from conceptualization, concurrent front- and back-end coding, deployment, QA and more.
        </p>
        <p>
          As the company philosophy, Acsys IT emphasis more on developing relationship with all the customers and recognize our employee roles and contributions in all aspects</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
